Package: tailscale-awg
Version: __VERSION__
Depends: libc, ca-bundle, kmod-tun
Provides: tailscale tailscaled
Source: https://github.com/LiuTangLei/openwrt-tailscale-awg
SourceName: openwrt-tailscale-awg
License: BSD-3-Clause
LicenseFiles: LICENSE
Section: net
SourceDateEpoch: __EPOCH__
URL: https://tailscale.com
CPE-ID: cpe:/a:tailscale:tailscale
Maintainer: LiuTangLei <liu.tang.lei@gmail.com>
Architecture: __ARCH__
Installed-Size: __SIZE__
Description: Tailscale-AWG: Tailscale with Amnezia WireGuard support.
 Built for OpenWrt. It creates a secure network between your servers, 
 computers, and cloud instances with enhanced censorship resistance.
 This package and build are based on https://github.com/GuNanOvO/openwrt-tailscale (many thanks to GuNanOvO).
